 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.rotate90 {
    -webkit-transform:rotate (90deg);
    -moz-transform:rotate (90deg);
    -o-transform:rotate (90deg);
    -ms-transform:rotate (90deg);
    transform:rotate (90deg);
}

@font-face {
    font-family: "PressStart2P.ttf";
    src: url(https://www.dafont.com/press-start-2p.font) format("truetype");
}
p.customfont { 
    font-family: "PressStart2P.ttf",PressStart2P;
}