 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.rotate90 {
    -webkit-transform:rotate (90deg);
    -moz-transform:rotate (90deg);
    -o-transform:rotate (90deg);
    -ms-transform:rotate (90deg);
    transform:rotate (90deg);
}
        /* font */
.css-selector{
font-family: 'VT323', monospace;
}
   /* font size */
p {
    font-size: 1.5em; /* 16px/16=1em */
}


/* .nav {
  background-color: #ffffff !important;
} if I want to change the navbar colour */

/* $ ( document ).ready(function(){}) */

  /* #tv { 
    width: 400px;               
    height: 300px;              
    position: relative; 
/* }
#tv:after {
    content: '';
    display: block;
    background: url('images/tv.png') no-repeat top left transparent;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    pointer-events:none;
    z-index: 10;
}
#tv video {
    position: absolute;
    top: 30px; 
    left: 40px; 
    pointer-events:none;
    z-index: 5;
}*/

.film-background {
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
   pointer-events:none;
   width: 100%;
}


